<footer class="footer">
  <div class="container footer-top">
    <div class="row footer-top__row">
      <div class="col-md-4">
        <div class="footer__logo">
          <app-icon class="svg" iconWidth="134px" iconHeight="24px" iconName="logo" link="assets/img/logo.svg"></app-icon>
        </div>
      </div>
      <div class="col-md-8">
        <nav class="footer-menu">
          <ul class="footer-menu__list">
            <li class="footer-menu__item" *ngFor="let item of menu">
              <a 
                href="javascript:void(0);" 
                class="footer-menu__link" 
                [ngx-scroll-to]="item.scrollTo"
              >{{item.name}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="container footer-middle">
    <div class="row footer-middle__row">
      <div class="col-md-4">
        <ul class="footer-contacts">
          <li class="footer-contacts__item">
            <a href="mailto:work.of.future@gmail.com" class="footer-contacts__link">
              <app-icon class="svg" iconWidth="24px" iconHeight="26px" iconName="mail" link="assets/img/mail.svg"></app-icon>
              <span>work.of.future@gmail.com</span>
            </a>
          </li>
          <li class="footer-contacts__item">
            <a href="tel:+380507892498" class="footer-contacts__link">
              <app-icon class="svg" iconWidth="24px" iconHeight="26px" iconName="phone" link="assets/img/phone.svg"></app-icon>
              <span>+38 (050) 789 24 98</span>
            </a>
          </li>
          <li class="footer-contacts__item">
            <a href="tel:+380955560845" class="footer-contacts__link">
              <app-icon class="svg" iconWidth="24px" iconHeight="26px" iconName="cellphone" link="assets/img/cellphone.svg"></app-icon>
              <span>+38 (095) 556 08 45</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 d-none d-md-block">
        <ul class="footer-links">
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">News</a>
          </li>
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">Blog</a>
          </li>
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">Partners</a>
          </li>
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">Shop</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 d-none d-md-block">
        <ul class="footer-links">
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">Overview</a>
          </li>
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">Design</a>
          </li>
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">Code</a>
          </li>
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">Collaborate</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 d-none d-md-block">
        <ul class="footer-links">
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">Tutorials</a>
          </li>
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">Resources</a>
          </li>
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">Guides</a>
          </li>
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">Examples</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 d-none d-md-block">
        <ul class="footer-links">
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">FAQ</a>
          </li>
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">Terms</a>
          </li>
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">Conditions</a>
          </li>
          <li class="footer-links__item">
            <a href="#" class="footer-links__link">Help</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container footer-bottom">
    <div class="row footer-bottom__row">
      <div class="col-md-4">
        <p class="footer-copy">&copy; abz.agency specially for the test task</p>
      </div>
      <div class="col-md-8">
        <app-footer-social></app-footer-social>
      </div>
    </div>
  </div>
</footer>