<header class="header d-flex d-lg-none header--mobile">
  <div class="container">
    <div class="row">
      <div class="col header__col">
        <a href="#" class="header__logo">
          <svg class="svg" width="134px" height="24px">
            <use xlink:href="../assets/img/sprite.svg#logo"></use>
          </svg>
        </a>
        <!-- <a class="menu-btn" href="#" role="button" @click.prevent="openMenu"> -->
        <a class="menu-btn" href="#" role="button">
          <span class="hamburger"></span>
        </a>
      </div>
    </div>
  </div>
</header>