<!-- <header class="header mobile-menu" :class="{'shown': showMenu}"> -->
<header class="header mobile-menu">
  <div class="container">
    <div class="row">
      <div class="col header__col">
        <a href="#" class="header__logo">
          <svg class="svg" width="134px" height="24px">
            <use xlink:href="../assets/img/sprite.svg#logo"></use>
          </svg>
        </a>
        <app-header-menu></app-header-menu>
        <app-user-block></app-user-block>
      </div>
    </div>
  </div>
</header>