<header class="header mobile-menu" [ngClass]="{'shown': showMenu}">
  <div class="container">
    <div class="row">
      <div class="col header__col">
        <a href="#" class="header__logo">
          <svg class="svg" width="134px" height="24px">
            <use xlink:href="../assets/img/sprite.svg#logo"></use>
          </svg>
        </a>
        <app-header-menu role="navigation" class="header-menu"></app-header-menu>
        <app-user-block class="user-block"></app-user-block>
      </div>
    </div>
  </div>
</header>