<header class="header mobile-menu" [ngClass]="{'shown': showMenu}">
  <div class="container">
    <div class="row">
      <div class="col header__col">
        <a href="#" class="header__logo">
          <app-icon iconWidth="134px" iconHeight="24px" iconName="logo" link="assets/img/logo.svg"></app-icon>
        </a>
        <app-header-menu role="navigation" class="header-menu"></app-header-menu>
        <app-user-block class="user-block"></app-user-block>
      </div>
    </div>
  </div>
</header>
