<ul class="footer-social">
  <li class="footer-social__item">
    <a href="#" class="footer-social__link">
      <app-icon class="svg" iconWidth="26px" iconHeight="26px" iconName="facebook" link="assets/img/facebook.svg"></app-icon>
    </a>
  </li>
  <li class="footer-social__item">
    <a href="#" class="footer-social__link">
      <app-icon class="svg" iconWidth="26px" iconHeight="26px" iconName="linkedin" link="assets/img/linkedin.svg"></app-icon>
    </a>
  </li>
  <li class="footer-social__item">
    <a href="#" class="footer-social__link">
      <app-icon class="svg" iconWidth="26px" iconHeight="26px" iconName="instagram" link="assets/img/instagram.svg"></app-icon>
    </a>
  </li>
  <li class="footer-social__item">
    <a href="#" class="footer-social__link">
      <app-icon class="svg" iconWidth="26px" iconHeight="26px" iconName="twitter" link="assets/img/twitter.svg"></app-icon>
    </a>
  </li>
  <li class="footer-social__item">
    <a href="#" class="footer-social__link">
      <app-icon class="svg" iconWidth="26px" iconHeight="26px" iconName="pinterest" link="assets/img/pinterest.svg"></app-icon>
    </a>
  </li>
</ul>