<div class="registration" id="registration">
  <div class="container registration__headings-wrap">
    <div class="row">
      <div class="col">
        <h2 class="registration__heading">Register to get a work</h2>
        <h5 class="registration__subheading">Attention! After successful registration and alert, update the list of users in the block from the top</h5>
      </div>
    </div>
  </div>
  <form class="container registration__form" name="registrationForm" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="row registration__row">
      <div class="col-md-4 ">
        <div class="form-group">
          <label for="inputName" class="registration__lbl">Name</label>
          <input
            type="text"
            class="form-control registration__control"
            id="inputName"
            placeholder="Your name"
            [formControlName]="'inputName'"
            [ngClass]="{'is-invalid': registrationForm.get('inputName').invalid && registrationForm.get('inputName').touched}"
          >
          <span class="invalid-feedback" *ngIf="registrationForm.get('inputName').invalid && registrationForm.get('inputName').touched">
            This field is required. Min 2, max 60 characters.
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="inputEmail" class="registration__lbl">Email</label>
          <input 
            type="email" 
            class="form-control registration__control" 
            id="inputEmail" 
            placeholder="Your email"
            [formControlName]="'inputEmail'"
            [ngClass]="{'is-invalid': registrationForm.get('inputEmail').invalid && registrationForm.get('inputEmail').touched}"
          >
          <span class="invalid-feedback" *ngIf="registrationForm.get('inputEmail').invalid && registrationForm.get('inputEmail').touched">
            Invalid email.
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="inputPhone" class="registration__lbl">Phone</label>
          <input 
            type="tel" 
            class="form-control registration__control" 
            id="inputPhone" 
            placeholder="+38 (___)  ___ __ __"
            [formControlName]="'inputPhone'"
            prefix="+38 (0" 
            mask="00) 000 00 00" 
            [ngClass]="{'is-invalid': registrationForm.get('inputPhone').invalid && registrationForm.get('inputPhone').touched}"
          >
          <span class="invalid-feedback" *ngIf="registrationForm.get('inputPhone').invalid && registrationForm.get('inputPhone').touched">
            Invalid phone number.
          </span>
        </div>
      </div>
    </div>
    <div class="row registration__row">
      <div class="col-md-6">
        <div class="form-group registration__select" (click)="toggleSelect()">
          <input 
            type="text" 
            class="form-control registration__control" 
            readonly 
            id="inputPosition" 
            placeholder="Select your position" 
            [formControlName]="'inputPosition'"
            [ngClass]="{'is-invalid': registrationForm.get('inputPosition').invalid && registrationForm.get('inputPosition').touched}"
          >
          <span class="invalid-feedback" *ngIf="registrationForm.get('inputPosition').invalid && registrationForm.get('inputPosition').touched">
            This field is required.
          </span>
          <ul class="registration__dropdown registration-dropdown" *ngIf="openSelect">
            <li 
              class="registration-dropdown__item registration-dropdown__item--selected"
              *ngFor="let position of positions"
              [ngClass]="{'registration-dropdown__item--selected': selectedPosition.toLowerCase() === position.name.toLowerCase()}"
              (click)="changeSelectedPosition(position.name, position.id)"
            >{{position.name}}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <div class="custom-file">
              <input 
                type="file" 
                accept="image/jpeg"
                class="custom-file-input" 
                id="inputFile"
                [formControlName]="'inputFile'"
                (change)="handleFileInput($event.target.files)"
                [ngClass]="{'is-invalid': registrationForm.get('inputFile').invalid && registrationForm.get('inputFile').touched}"
              >
              <label class="custom-file-label registration__control" for="inputFile">
                <span>Upload your photo</span>
                <div class="custom-file-label__btn" role="button">
                  <span class="d-none d-md-inline-block">Browse</span>
                  <app-icon class="d-block d-md-none" iconWidth="20px" iconHeight="24px" iconName="upload" link="assets/img/upload.svg"></app-icon>
                </div>
              </label>
            </div>
          </div>
          <small class="registration__hint" [ngClass]="{'invalid': registrationForm.get('inputFile').invalid && registrationForm.get('inputFile').touched}">File format jpg  up to 5 MB, the minimum size of 70x70px</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex">
        <button type="submit" class="btn btn--primary registration__btn m-auto" [disabled]="!registrationForm.valid">Sign Up</button>
      </div>
    </div>
  </form>
</div>