/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables.scss";
$font1: 'Overpass', sans-serif;
$font2: 'Source Sans Pro', sans-serif;

#app {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font2;
  font-size: 14px;
  color: #000;
  background: #fff;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

::-webkit-input-placeholder {
  color: #8d8c8c;
}

::-moz-placeholder {
  color: #8d8c8c;
}

:-moz-placeholder {
  color: #8d8c8c;
}

:-ms-input-placeholder {
  color: #8d8c8c;
}

/* fix footer */

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
  padding-top: 64px;
}

.content {
  flex-grow: 1;
  width: 100%;
  position: relative;
}

/* /fix footer */

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* btn */

.btn {
  padding: 4px 10px;
  cursor: pointer;
  &:disabled,
  &:disabled:hover {
    cursor: default;
    background:  #d7d7d7;
    color: #8d8c8c;
  }
}

.btn--primary {
  color: #fefefe;
  font-family: $font2;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
  background-color: #ef6c00;
  &:hover {
    background-color: #fc8419;
    color: #fefefe;
  }
}

.btn--invers {
  border: 2px solid #ef6c00;
  background: transparent;
  color: #ef6c00;
  font-family: $font2;
  font-size: 20px;
  font-weight: 700;
  &:hover {
    color: #fc831f;
    background: #fee6d2;
  }
}

/* /btn */

h1 {
  font-family: $font1;
  font-size: 50px;
}
h2 {
  font-family: $font1;
  font-size: 42px;
}
h3 {
  font-family: $font1;
  font-size: 26px;
}
h4 {
  font-family: $font1;
  font-size: 22px;
}
h5 {
  font-family: $font1;
  font-size: 18px;
}

@media (max-width: 767px) {
  body {
    text-align: center;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #160c0d;
  opacity: 0.32;
  z-index: 102;
  @media (min-width: 992px) {
    display: none !important
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}



.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
}

.header__col {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-btn {
  display: inline-block;
  width: 22px;
  height: 26px;
  position: relative;
}

.hamburger {
  display: inline-block;
  width: 22px;
  height: 4px;
  top: 0px;
  background: #2b3191;
  position: relative;
  transition: all 0.3s;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 4px;
    background: inherit;
    right: 0;
    top: -10px;
  }

  &::after {
    top: auto;
    bottom: -10px;
    width: 22px;
  }
}

.mobile-menu {
  @media (max-width: 991px) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -260px;
    width: 260px;
    background: #fff;
    z-index: 100;
    .container,
    .row,
    .col {
      height: 100%;
    }
    .header__logo {
      display: none;
    }
    .header__col {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: auto;
    }
    .header-menu {
      order: 2;
      width: 100%;
      padding: 0 10px;
    }
    .header-menu__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
    .header-menu__item {
      margin-right: 0;
      margin-bottom: 20px;
    }
    .user-block {
      order: 1;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-start;
      min-height: 180px;
      width: 100%;
      position: relative;
      padding: 25px 10px;
      margin-bottom: 25px;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -15px;
        right: -15px;
        background: #e1e1e1;
        height: 1px;
      }
    }
    .user-block__info {
      align-items: flex-start;
    }
    .user-block__img {
      margin-left: 0;
      width: 67px;
      height: 67px;
      margin-bottom: 20px;
    }
    .user-block__name {
      font-size: 20px;
      margin-bottom: 5px;
    }
    .user-block__email {
      font-size: 13px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #160c0d;
  opacity: 0.32;
  z-index: 102;
}

/* user block */

.user-block {
  display: flex;
  align-items: center;
}

.user-block__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-block__name {
  color: #000;
  font-family: $font2;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.user-block__email {
  color: #8d8c8c;
  font-family: $font2;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.user-block__img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 15px;
  img {
    display: block;
    max-width: 100%;
  }
  &:hover {
    img {
      opacity: 0.9;
    }
  }
}

.user-block__btn {
  margin-left: 15px;
  text-decoration: none;
  .svg {
    fill: #283593;
  }
  &:hover {
    text-decoration: none;
    .svg {
      fill: #2638bb;
    }
  }
}

/* header-menu */

.header-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center; 
}

.header-menu__item:not(:last-child) {
  margin-right: 30px;
}

.header-menu__link {
  color: #000000;
  font-family: $font2;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: #ef6c00;
  }
}

/* validation */

.invalid-feedback {
  position: absolute;
  padding-left: 15px;
}

/* webp support */
.webp .jumbotron.lazy-bg--loaded {
  background-image: url('assets/img/bg-1.webp') !important;
}
.webp .requirements.lazy-bg--loaded {
  background-image: url('assets/img/bg-2.webp') !important;
}
/* /webp support */